
.post .container{
    padding: 20px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
}
.post .user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post .userInfo{
display: flex;

gap:20px;
}
.post .userInfo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.post .details{
    display: flex;
    flex-direction: column;
    
}
.name{
  font-weight: 600;
  
}
.date{
   font-size: 12px;
   
}
.post .content{
    margin: 20px 0px;
}
.post .content img{

    width: 100%;
    max-height: 500px;
    object-fit: cover;
    
}
.info{
    width: 300px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.info span{
    margin-left: 5px;
}
